<div class="row">
    <div class="col">
        <p>Quick Search</p>
        <form id="searchForm">
            <div class="row mb-3">
                <div class="col-12 col-lg-4">
                    <div class="form-group">
                        <label for="text-search">Enter Make, Model, or Year</label>
                        <input type="text" class="form-control" name="makeModelYear" value="Search" id="text-search" />
                    </div>
                </div>
                <div class="row col-12 col-md-6 col-lg-4">
                    <div class="form-group col-6">
                        <label for="minPrice">Min Price</label>
                        <input type="text" class="form-control" id="minPrice">
                    </div>
                    <div class="form-group col-6">
                        <label for="maxPrice">Max Price</label>
                        <input type="text" class="form-control" id="maxPrice">
                    </div>
                </div>
                <div class="row col-12 col-md-6 col-lg-4">
                    <div class="form-group col-6">
                        <label for="minYear">Min Year</label>
                        <input type="text" class="form-control" id="minYear">
                    </div>
                    <div class="form-group col-6">
                        <label for="maxYear">Max Year</label>
                        <input type="text" class="form-control" id="maxYear">
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col col-md-6 col-lg-2">
                    <button id="btn-search" class="btn btn-block btn-primary">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>
