
@{
    ViewBag.Title = "Index";
}

@if (ViewBag.displayMenu == "Yes")
{
    <h1>Welcome Admin. Now you can create user Role.</h1>
    <h3>
        @Html.ActionLink("Manage Role", "Index", "Role")
    </h3>
}
else
{
    <h2>  Welcome! You are <strong>@ViewBag.Name</strong>. Please Login in to continue. </h2>
}

